USE [master]
GO
/****** Object:  Database [ExamenWeb]    Script Date: 3/16/2023 7:37:20 PM ******/
CREATE DATABASE [ExamenWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExamenWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ExamenWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExamenWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ExamenWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExamenWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExamenWeb]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 3/16/2023 7:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[ID_COMMENT] [int] IDENTITY(1,1) NOT NULL,
	[comment] [varchar](50) NOT NULL,
	[nickname] [varchar](50) NOT NULL,
	[date] [date] NOT NULL,
	[FK_ID_PUBLICATION] [int] NOT NULL,
 CONSTRAINT [PK_comment] PRIMARY KEY CLUSTERED 
(
	[ID_COMMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publication]    Script Date: 3/16/2023 7:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publication](
	[ID_PUBLICATION] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[body] [varchar](50) NOT NULL,
	[date] [date] NOT NULL,
	[nickname] [varchar](50) NOT NULL,
 CONSTRAINT [PK_publication] PRIMARY KEY CLUSTERED 
(
	[ID_PUBLICATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userweb]    Script Date: 3/16/2023 7:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userweb](
	[name] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[nickname] [varchar](50) NOT NULL,
 CONSTRAINT [PK_userweb] PRIMARY KEY CLUSTERED 
(
	[nickname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_publication] FOREIGN KEY([FK_ID_PUBLICATION])
REFERENCES [dbo].[publication] ([ID_PUBLICATION])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_publication]
GO
ALTER TABLE [dbo].[publication]  WITH CHECK ADD  CONSTRAINT [FK_publication_userweb] FOREIGN KEY([nickname])
REFERENCES [dbo].[userweb] ([nickname])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[publication] CHECK CONSTRAINT [FK_publication_userweb]
GO
USE [master]
GO
